
<h2>New User</h2>

<%= form_for @user do |f| %>
<div class="container-fluid row">
    <p>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :phone_number %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field" style="padding-right:0px;">
            <div class="container-fluid row" style="padding:0px;">
                <div class="col-sm-5 col-md-4">
                    <%= f.select :phone_code, [], {}, {class: "wide-select", style: "padding:1px 2px;height:100%", autocomplete: "tel-country-code"} %>
                </div>
                <div class="col-sm-7 col-md-8" style="padding:0px;">
                    <%= f.number_field :phone_number, value: session[:create_params]["phone_number"], style: "width:100%", class: "hidden-arrows", autocomplete: "tel-national" %>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <label>Confirm</label><span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field" style="padding-right:0px">
            <div class="container-fluid row" style="padding:0px;">
                <div class="col-sm-5 col-md-4">
                </div>
                <div class="col-sm-7 col-md-8" style="padding:0px;">
                    <input id="phone-confirm" style="width:100%;" class="hidden-arrows" type="number">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-0 form-field">
        </div>
        <div class="col-md-8 col-sm-12 form-field">        
            <i id="phone-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">phone numbers must match</span>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :password %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.password_field :password, style: "width:100%;", autocomplete: "new-password" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <label>Confirm</label>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <input id="password-confirm" style="width:100%;" type="password">
        </div>
        <div class="col-md-4 col-sm-0 form-field">
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <i id="pwd-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">passwords must match</span><br>
            <i id="length-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">must be at least 10 characters long</span><br>
            <i id="lower-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">must contain lower case</span><br>
            <i id="upper-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">must contain upper case</span><br>
            <i id="number-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text">must contain a number</span>
        </div>
    </p>
    <hr class="dark-blue-text">

    <h5>Business details</h5>
    <p>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :company_name %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :company_name, value: session[:create_params]["company_name"], style: "width:100%;", autocomplete: "company" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :email %>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :email, value: session[:create_params]["email"], style: "width:100%;", autocomplete: "email" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :company_address %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :company_address, value: session[:create_params]["company_address"], style: "width:100%;" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :company_country %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.country_select :company_country, {include_blank: 'Select a country'}, {class: "wide-select"} %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :company_city %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.select :company_city, [], {}, {class: "wide-select"} %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :tax_identification_number, "TIN (tax ID)" %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.number_field :tax_identification_number, value: session["create_params"]["tax_identification_number"], style: "width:100%;", class: "hidden-arrows" %>
        </div>
        <div class="col-md-3 col-sm-6 form-field">
            <%= f.label :producer %>
        </div>
        <div class="col-md-3 col-sm-6 form-field">
            <%= f.check_box :producer, checked: session[:create_params]["producer"], class: "form-check-input" %>
        </div>
        <div class="col-md-3 col-sm-6 form-field">
            <%= f.label :distributor %>
        </div>
        <div class="col-md-3 col-sm-6 form-field">
            <%= f.check_box :distributor, checked: session[:create_params]["distributor"], class: "form-check-input" %>
        </div>
    </p>
    <hr class="dark-blue-text">
    
    <h5>Personal details</h5>
    <p>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :name_prefix %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.select :name_prefix, ["Mr", "Mrs", "Ms"], value: session["create_params"][:name_prefix], autocomplete: "honorific-prefix" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :first_name %>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :first_name, value: session[:create_params]["first_name"], style: "width:100%;", autocomplete: "given-name" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :last_name, "Surname"%>
            <span style="right:0px; color: red">*</span>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :last_name, value: session[:create_params]["last_name"], style: "width:100%;", autocomplete: "family-name" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :date_of_birth %>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.date_field :date_of_birth, value: session[:create_params]["date_of_birth"],autocomplete: "bday" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :address %>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.text_field :address, value: session[:create_params]["address"], style: "width:100%;" %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :country %>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.country_select :country, {include_blank: 'Select a country'}, {class: "wide-select"} %>
        </div>
        <div class="col-md-4 col-sm-12 form-field">
            <%= f.label :city %>
        </div>
        <div class="col-md-8 col-sm-12 form-field">
            <%= f.select :city, [], {}, {class: "wide-select"} %>
        </div>
    </p>

    <p>
        <div class="col-md-4 col-sm-0">
        </div>
        <div class="col-md-8 col-sm-12">
            <%= f.submit "Create Account", disabled: "disabled", id: "user_submit", class: "form-btn blue-bg white-text" %>
        </div>
    </p>
</div>
<% end %>

<script>
    function compare(elemA, elemB, indicator) {
        if (elemA.value === elemB.value) {
            indicator.style.visibility = "visible";
            return true;
        } else {
            indicator.style.visibility = "hidden";
            return false;
        }
    }

    function pwdRequirements(elem, length_i, number_i, lower_i, upper_i) {
        var length = false;
        var number = false;
        var lower = false;
        var upper = false;
        
        length_i.style.visibility = "hidden";
        number_i.style.visibility = "hidden";
        lower_i.style.visibility = "hidden";
        upper_i.style.visibility = "hidden";

        var s = elem.value;
        var i=0;
        var character='';
        while (i <= s.length){
            if (i >= 8) {
                length = true;
                length_i.style.visibility = "visible";
            }
            character = s.charAt(i);
            if (character != "") {
                if (!isNaN(character * 1)){
                    number = true;
                    number_i.style.visibility = "visible";
                } else {
                    if (character == character.toUpperCase()) {
                        upper = true;
                        upper_i.style.visibility = "visible";
                    }
                    if (character == character.toLowerCase()){
                        lower = true;
                        lower_i.style.visibility = "visible";
                    }
                }
            }
            i++;
            if (length && number && lower && upper) {
                break;
            }
        }
        return (length && number && lower && upper);
    }
    
    
    document.getElementById("new_user").onchange = function() {
        function fu(id) {
            return document.getElementById(id);
        }
        function fu2(id) {
            return document.getElementById(id+"-indicate");
        }

        var p = fu("user_phone_number")
        var pC = fu("phone-confirm");
        var pwd = fu("user_password")
        var pwdC = fu("password-confirm");

        var allow = false;
        
        var phone_i = fu2("phone");
        var pwd_i = fu2("pwd");
        var length_i = fu2("length");
        var number_i = fu2("number");
        var lower_i = fu2("lower");
        var upper_i = fu2("upper");

        if (!(p.value== null || p.value == "")){
            allow |= compare(p, pC, phone_i);
        }
        if (!(pdw.value== null || pdw.value == "")){
        allow &= compare(pwd, pwdC, pwd_i);
        }
        allow &= pwdRequirements(pwd, length_i, number_i, lower_i, upper_i);
        if (allow) {
            document.getElementById('user_submit').disabled = false;
        }                
    };

    window.onload = function() {
        
        cityData = getJSONData("/country_cities.json", cityDataSuccess);
        
        initCitySelector("user_country", "user_city", "<%= session[:create_params]['country'] %>", "<%= session[:create_params]['city'] %>");
        initCitySelector("user_company_country", "user_company_city", "<%= session[:create_params]['company_country'] %>", "<%= session[:create_params]['company_city'] %>");
        
        phoneData = getJSONData('/country_phones.json', phoneDataSuccess);
        phoneFlags = getJSONData('https://cdn.jsdelivr.net/npm/country-flag-emoji-json@2.0.0/dist/by-code.json', phoneFlagsSuccess);
        initPhoneSelector("user_phone_code", "<%= session[:create_params]['phone_code'] %>");
    }
</script>
