
<h2>
    Questionaire
</h2>

<p>
  <h5>As a producer:</h5>
  <%= form_for @prod_q, url: fill_producer_questionaire_path do |f| %>
  <p>
    What commodities do you want to export?
    <br>
    <%= f.text_area :commodities, style: "width:80%" %>
  </p>
  <p>
    What volume in kg or tonnes do you intend to export in a year?
    <br>
    <%= f.number_field :volume %>&nbsp;<%= f.select :unit, ['kilos', 'tonnes'] %>
  </p>
  
  <p>
    Select all payment types that you can receive:
    <div class="container-fluid row">

      <% def check_box_for(form, text, symbol) %>
      <div class="col-lg-6 col-xs-12 col-sm-6">
        <%= text %>:
      </div>
      <div class="col-lg-6 col-xs-12 col-sm-4">
        <%= form.check_box(symbol.to_sym) %>
      </div>
      <% end %>

      <% dict = [["Bank deposit", :pays_deposit],
          ["Bank wire", :pays_wire],
          ["Card payment",:pays_card],
          ["pays_crypto", :pays_crypto]]
        %>
      <% dict.each do |e| %>
      <% check_box_for f, e[0], e[1] %>
      <% end %>
      <div class="col-md-12 text-center">
        <%= f.submit  "Submit producer questionaire", class: "form-btn white-text blue-bg" %>
      </div>
    </div>
  </p>
      
  <% end %>
  <hr class="white-text">
</p>
