
<h2>
    Questionaire
</h2>

<p>
  <h5>As a producer:</h5>
  <%= form_for @prod_q, url: fill_producer_questionaire_path do |f| %>
  <p>
    What commodities do you want to export?
    <br>
    <%= f.text_area :commodities, style: "width:80%" %>
  </p>
  <p>
    What volume in kg or tonnes do you intend to export in a year?
    <br>
    <%= f.number_field :volume %>&nbsp;<%= f.select :unit, ['kilos', 'tonnes'] %>
  </p>
  
  <p>
    Select all payment types that you can receive:
    <div class="container-fluid row">

      <%= render "checkboxes", form: f %>

      <div class="col-md-12 text-center">
        <%= f.submit  "Submit producer questionaire", class: "form-btn white-text blue-bg" %>
      </div>
    </div>
  </p>
      
  <% end %>
  <hr class="white-text">
</p>
