<div class="nav-veil white-bg" id="nav-veil">

    <div class="nav-container" onclick="close_nav('nav-veil');" style="z-index:11;">
        <span class="nav-burger-bg text-center" style="z-index:12">
            <i class="fa-solid fa-close nav-burger white-text" style="z-index:11;"></i>
        </span>
        <a href="/"><img class="nav-logo" src='/Caroyal transparent PNG-02.png'></a>

        <% path = '/login' %>
        <% if @current_user != nil then %>
            <% path = account_overview_path %>
        <% end %>

        <span>
        <div class="account-pill text-center button-like button-like_small button-like_transparent-inverse" onclick="window.location.href='<%= path %>'">
        <% if @current_user != nil then %>
            <i class="fa-regular fa-user white-text" style="margin-right:10px;"></i>
            <%= @current_user.first_name %>
        <% else %>
            Log in
        <% end %>
        </div>
        </span>
    </div>

            <ul class="nav-list">
            
                <% def link(text, link) %>
                    <li onclick="window.location.href='<%= link %>'">
                    <%= text %>
                <% end %>

                <%= link "Home",root_path %>
                <%= link "About", about_path %>
                <%= link "Caroyal products", products_path %>
                <%= link "Timeline", timeline_path %>
                <%= link "Marketplace", market_path %>
                <%= link "Blog", blog_path %>
                <%= link "Contact", contact_path %>
            
            </ul>
</div>