<div class="nav-veil white-bg" id="nav-veil">

    <div class="nav-container" onclick="close_nav('nav-veil');" style="z-index:11;">
        <span class="nav-burger-bg dark-blue-bg text-center" style="z-index:12">
            <i class="fa-solid fa-close nav-burger white-text" style="z-index:11;"></i>
        </span>
    </div>

    <div class="container-fluid row">
        <!--
        <div class="col-4"></div>
        <div class="col-8">
        -->
            <ul class="nav-list text-center" style="top:150px;position:absolute">
            
                <% def link(text, link) %>
                    <li onclick="window.location.href='<%= link %>'">
                    <%= text %>
                <% end %>

                <%= link "Home",root_path %>
                <%= link "About", about_path %>
                <%= link "Products", products_path %>
                <%= link "Timeline", timeline_path %>
                <%= link "Contact", contact_path %>
            
            </ul>
       <!-- </div>
       -->
    <!--</div>-->
    </div>
</div>