this is the dev page
<p>
<hr>
<p>
<%= form_for @sub, url: create_newsletter_subscription_path do |t| %>
    <%= t.text_field :email %>
    <%= t.submit "Subscribe" %>

<% end %>
</p>
subscribers <br>
<% @subs.each do |s| %>
<p>
<%= s.email %>, <%= link_to "unsub", unsubscribe_newsletter_path(s.unsubscribe_token), method: :delete %>
</p>
<% end %>

<hr>
</p>
<br>
<br>
account creation: <%= link_to "hahafdf", new_user_path%>
<br>
login: <%= link_to "fdhsajk", '/login' %>
<br>
current user is <b><% if current_user != nil then %> : <%= current_user.email %> : <%= current_user.id %> : <%= link_to "user page", account_overview_path %><% else %>nil</b><% end %>
<br>
logout: <%= link_to "hehuhehahs", "/logout" %>
<br>
<p>
<%=link_to "questionaire", new_producer_questionaire_path %>
</p>
<% if @users != nil then %>
<% @users.each do |u| %>
    <p>
    <b><%= u.email %></b>
    <br>
    <%= u.created_at %>
    <br>
    name: <%= u.first_name %> <%= u.last_name %>
    <br/>
    <% if u.administrator then %>
    <b>ADMIN</b>
    <br>
    <% end %>
    <%= link_to "edit user info", edit_user_path(u) %>
    <br>
    phone: <%=u.phone_number%>
    <br>
    questionaire id: <%#=u.producer_questionaire.id%>

    </p>


<% end %>
<% end %>

<p>
<%= link_to "new price listing", new_price_path %>
<br>

<%= link_to "goto price index", prices_path %>

</p>



