
<h2 class="heading-style text-white">
  Reset password
</h2>
<%= form_tag '/login/update/' + @token, id: "passwd_reset_form" do |f| %>

<div class="blue-form">
  <!--
  <div class="form-field">
      <%= label_tag "Phone number or email" %>
      <span id="phone-spinner">
        <i class="fas fa-spin fa-spinner"></i>
      </span>
  </div>
  <div class="form-field">
    <div class="" style="padding:0px;display:flex; justify-content:center;align-items: center;">
      <%= hidden_field_tag :user_phone_code %>
      <button type="button" id="user_phone_code_dropdown-button" class="dropdown-toggle text-input" data-bs-toggle="dropdown">
        <span></span>&nbsp;
        <img id="user_phone_code_indicator" src="" style="height:35px;">
      </button>
      <ul class="dropdown-menu" id="user_phone_code_dropdown"></ul>
      <img id="user_phone_code_indicator" src="" style="height:50px;">
    </div>

    <div class="mt" style="padding:0px;">
      <%= text_field_tag :string, "", class: "hidden-arrows text-input", style: "width:100%;",autocomplete: "tel-national" %>
    </div>
  </div>-->
    
  <div class="form-field">
    <%= label_tag "New password" %>
  </div>
  <div class="form-field">
    <%= password_field_tag :password, "", style: "width:100%;", class: "text-input" %>
  </div>
  <div class="form-field white-text">
    <%= label_tag "Confirm" %>
  </div>
  <div class="form-field">
    <%= password_field_tag :password_confirm, "", style: "width:100%;", class: "text-input" %>
  </div>
  <div style="display:flex; justify-content:center;">
    <div>
      <i id="pwd-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text-white">passwords must match</span><br>
      <i id="length-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text-white">must be at least 8 characters long</span><br>
      <i id="lower-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text-white">must contain lower case</span><br>
      <i id="upper-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text-white">must contain upper case</span><br>
      <i id="number-indicate" style="visibility:hidden" class="fa-solid fa-check"></i><span class="form-indicator-text-white">must contain a number</span>
    </div>
  </div>
  <div class="form-field" style="display:flex; justify-content:center;">
    <%= submit_tag  "Update password", disabled: "disabled", id: "passwd_change", class: "form-btn white-text blue-bg" %>
  </div>
  
</div>

<% end %>

<script>    
  function compare(elemA, elemB, indicator) {
    if (elemA.value === elemB.value) {
      indicator.style.visibility = "visible";
      return true;
    }
    else {
      indicator.style.visibility = "hidden";
      return false;
    }
  }

  function pwdRequirements(elem, length_i, number_i, lower_i, upper_i) {
    var length = false;
    var number = false;
    var lower = false;
    var upper = false;
    

    
    length_i.style.visibility = "hidden";
    number_i.style.visibility = "hidden";
    lower_i.style.visibility = "hidden";
    upper_i.style.visibility = "hidden";

    var s = elem.value;
    var i=0;
    var character='';
    while (i <= s.length){
      if (i >= 8) {
        length = true;
        length_i.style.visibility = "visible";
      }
      character = s.charAt(i);
      if (character != "") {
        if (!isNaN(character * 1)) {
          number = true;
          number_i.style.visibility = "visible";
        } else {
          if (character == character.toUpperCase()) {
            upper = true;
            upper_i.style.visibility = "visible";
          }
          if (character == character.toLowerCase()){
            lower = true;
            lower_i.style.visibility = "visible";
          }
        }
      }
      i++;
      if (length && number && lower && upper) {
        break;
      }
    }
    return (length && number && lower && upper);
  }
  
  function checkPasswdReset(a, b){
    var allow = false;
    document.getElementById('passwd_change').disabled = true
    function fu(id) {
      return document.getElementById(id+"-indicate")
    }
    
    var pwd_i = fu("pwd");
    var length_i = fu("length");
    var number_i = fu("number");
    var lower_i = fu("lower");
    var upper_i = fu("upper");
    
    if (!(a.value == null || a.value == "")){
      allow |= compare(a, b, pwd_i);
    }
    allow &= pwdRequirements(a, length_i, number_i, lower_i, upper_i);

    if (allow) {
      document.getElementById('passwd_change').disabled = false;
    }
  }



  window.onload = function() {
      
    {
      function fu(id) {
       return document.getElementById( id);
      }
      var pwd = fu("password");
      var pwdC = fu("password_confirm");

      document.getElementById("passwd_reset_form").oninput = function(){checkPasswdReset(pwd,pwdC)};
    }
  }
</script>