<div class="wall center-wall text-center">
    
    <div class="logo-wall-content">
        <img class="logo-wall-logo" src='/Caroyal transparent PNG.png'>
        <h1 class="gold-text text-center">
            <i>
                Sustainable Management of Supply Networks
            </i>
        </h1>
        <h4 class="text-center">
        Register to buy or sell parts of containerised products
        </h4>

        <div class="container-fluid text-center logo-wall-btn-container" style="margin-top:20px;">
            <div class="logo-wall-btn text-center button-like button-like_gold" onclick="window.location.href='<%= new_user_path %>'">
                Sign up
            </div>
        </div>
    </div>

    <div class="home-pie">
        Registered users
        <%= pie_chart user_stats_path, width: "100%", height: "140px", colors: ['#c4a141', '#0B2C59'], legend: "bottom", donut: true %>
    </div>
</div>

<% if @sub.email == nil || @sub.email == "" %>
<div class="row gold-bg" style="width:100%;margin:0px;padding:0px;">
    <div class="col-xs-12 col-md-7 blue-bg white-text" style="padding:35px;" >
        <h2>
        Subscribe to our newsletter
        </h2>
        <p>
        Stay up to date with our progress -
        </p>
        <p>
        We're a company in it's upstart-phase, there's a lot of things to be done. Subscribing to our newsletter will allow you to stay informed regarding our latest improvements and our future endeavours.
        </p>
    </div>

    <div class="col-xs-12 col-md-5 center-wall text-center">
    <%= form_for @sub, url: create_newsletter_subscription_path do |t| %>
        <%= t.text_field :email, placeholder: "Email address", style: "margin-top:20px" %><br>
        <%= t.submit "Subscribe", class: "logo-wall-btn text-center button-like button-like_blue", style: "margin: 20px auto;" %>
    <% end %>
    </div>
</div>
<% end %>

<div class="parallax-2">
    <div class=" row" style="max-width:100vw;min-height:100vh;padding:50px 0px 50px 0px;">

        <div class="col-sm-3 col-md-4">
        </div>
        <div class="col-sm-9 col-md-8 center-wall white-bg dark-blue-text blurred-box" style="padding:35px; opacity:0.85;">
            <h1 class="text-center">
            About us
            </h1>
            <h3 style="margin: 20px 0px 20px 0px">
            We are building a B2B e-commerce platform designed to enhance product affordability and food security through market accessibility for producers, distributors and consumers.
            </h3>
                <div class="logo-wall-btn text-center button-like button-like_blue" onclick="window.location.href='<%= about_path %>'">
                    Read more
                </div>

        </div>

    </div>
</div>