<div style="margin-top:5%">
<h2>
    Questionaire
</h2>

<p>
    <h5>As a distributor:</h5>
    <%= form_for @dist_q, url: fill_distributor_questionaire_path do |f| %>
    <p>
        How many years have you been trading stockfish?
        
        <%= f.select :length, (1..50) %>
    </p>
    <p>
        What volume (in dollars) do you intend to buy in a year?
        <br>
        <%= f.number_field :yearly_amount %>
    </p>
    <p>
        What other products do you wish to distribute in the future?
        <br>
        <%= f.text_field :other_products %>
    <p>
        Select all payment types that you can make:
        <div class="container-fluid row">
            <div class="col-4">
                Bank deposit: 
            </div>
            <div class="col-8">
                <%= f.check_box :pays_deposit %>
            </div>
            <div class="col-4">
                Bank wire: 
            </div>
            <div class="col-8">
                <%= f.check_box :pays_wire %>
            </div>
            <div class="col-4">
                Card payment: 
            </div>
            <div class="col-8">
                <%= f.check_box :pays_card %>
            </div>
            <div class="col-4">
                Cryptocurrency: 
            </div>
            <div class="col-8">
                <%= f.check_box :pays_crypto %>
            </div>
        </div>
    </p>

    <%= f.submit  "Submit distributor questionaire", class: "form-btn white-text blue-bg" %>

    <% end %>
    <hr class="white-text">
</p>
</div>