<h2>Caroyal Timeline</h2>
<section class="timeline">
<ul>
<% @events.each do |t| %>


<% time = t.time %>

<% if t.text == nil && time == nil then%>
<li class="timeline-era">
    <div class="">
    <h2 class="timeline-title">
        <%= t[:title] %>
    </h2>
    </div>
<% else %>
<li>
<div class="">
    <h2 class="timeline-time">
        <%= Date::MONTHNAMES[time.month] %> <%= time.year %>
    </h2>
    <span class="timeline-title">
        <%= t[:title] %>
    </span><br>
    <span class="timeline-text">
        <%= t[:text] %>
    </span>
</div>
<% end %>

</li>
<% end %>
</ul>
</section>