<!DOCTYPE html>
<html>
  <head>
    <title>Caroyal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag "application" %>
    <!-- use bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- use locally hosted FontAwesome -->
    <script src="/fa-all.js"></script>
<script>
        function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}


// code for the isElementInViewport function 
function callbackFunc() {
  var items = document.querySelectorAll(".timeline li");
  for (var i = 0; i < items.length; i++) {
    
    if (isElementInViewport(items[i])) {
      
      items[i].classList.add("in-view");
    }
  }
}
window.addEventListener("load", callbackFunc);
window.addEventListener("scroll", callbackFunc);


  
  function open_nav(id) {
    var e = document.getElementById(id);
    e.classList.add('nav-veil-fadein');
    e.classList.remove('nav-veil-fadeout');
  }
  function close_nav(id) {
    var e = document.getElementById(id);
    e.classList.remove('nav-veil-fadein');
    e.classList.add('nav-veil-fadeout');
  }
  function burger_toggle(burger_id, closer_id, veil_id) {
    var b = document.getElementById(burger_id);
    var c = document.getElementById(closer_id);
    if (c.style.display == "none")
    {
      open_nav(veil_id);
      /*
      b.style.hidden = true;
      c.style.hidden = false;
      */
      
      b.style.display = "none";
      c.style.display = "initial";
      
    } else {
      close_nav(veil_id);
      /*
      b.style.hidden = false;
      c.style.hidden = true;
      */
      b.style.display = "initial";
      c.style.display = "none";
      
    }
  }

  function unveil(id) {
    var e = document.getElementById(id);
    e.classList.add('veil-fadeout');
  }
  function remove_toast(id) {
    var e = document.getElementById(id);
    e.classList.remove('show');
  }



  
var cityData = null;
var cityDataAvailable = new Event("city-data-available");

var phoneData = null;
var phoneDataAvailable = new Event("phone-data-available");

var phoneFlags = null;
var phoneFlagsAvailable = new Event("phone-flags-available");


function cityDataSuccess(data) {
  cityData = JSON.parse(data);
  dispatchEvent(cityDataAvailable);
}
function phoneDataSuccess(data) {
  phoneData = JSON.parse(data);
  dispatchEvent(phoneDataAvailable);
}
function phoneFlagsSuccess(data) {
  phoneFlags = JSON.parse(data);
  dispatchEvent(phoneFlagsAvailable);
}

function getJSONData(data_url, success) {
    
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            callback(null, xhr.response);
        } else {
            callback(status, xhr.response);
        }
        };
        xhr.send();
    };
    getJSON(data_url,
        function(err, data) {
            if (err !== null) {
                alert('Something went wrong while loading city data: ' + err);
            } else {
              success(data);
            }
        });
}


function addSelectOption(elem, option, text) {
  var opt = document.createElement("option");
  opt.value = option;
  opt.text = text;
  elem.appendChild(opt);
}
function initSelect(elem, text) {
  var opt = document.createElement("option");
  opt.disabled = true;
  opt.text = text;
  elem.appendChild(opt);
  elem.selectedIndex = 0;
}
function resetSelect(elem, text) {
  elem.innerHTML = '';
  initSelect(elem, text);
}
function initSelectorWith(elem, value, print) {
    for (let i = 0; i < elem.options.length; i += 1) {
        var e = elem.options.item(i);
        if (e.value == value) {
            elem.selectedIndex = i;
            break;
        }
    }
}

function populateCitySelect(elem, countryCode) {
  var filtered = cityData.filter(city => city['country'] == countryCode);
  var l = [];
  for (e of filtered) {
      l.push(e['name']);
  }
  for (e of l.sort()) {
      addSelectOption(elem, e, e);
  }
}

function initCitySelector(countrySelectId, citySelectId, initCountry, initCity) {
  var country_field = document.getElementById(countrySelectId);
  var city_field = document.getElementById(citySelectId);

  var text = "Select a country first";
  initSelect(city_field, text);
  
  addEventListener("city-data-available",
      () => {      
          if (initCountry != "") {

              initSelectorWith(country_field, initCountry, false);
              if (initCity != "" | initCity != undefined) {
                  populateCitySelect(city_field, initCountry);
                  initSelectorWith(city_field, initCity, true);
              }
          }
          country_field.onchange = function () {
              resetSelect(city_field, text);
              populateCitySelect(city_field, country_field.value);
          };
      },
  false);
}

function selectPhoneCode(elem, value, hiddenField) {
  var url = ""
  for (e of elem.childNodes) { 
    e.classList.remove("active")
    if (e.textContent == value) {
      e.classList.add("active");
      url = e.firstChild.style.backgroundImage.split('"')[1]
    }
  }

  var tt = document.getElementById("user_phone_code_indicator");
  tt.src = url;
  console.log(url)
  console.log(tt)

  hiddenField.value = value;
  console.log("DICKS");
  console.log(hiddenField.value);
}



function populatePhoneSelect(elem, hiddenField) {
  for (e of phoneData) {
      
      let dial = e['dial_code'];
      let country = phoneFlags[e['code']];

      let opt = document.createElement("li");
      let a = document.createElement("a");
      a.classList.add("dropdown-item", "flag-dropdown", "text-center");
      a.appendChild(document.createTextNode(dial));
      a.href = "#"
      
      if (country != undefined) {
        a.style.backgroundImage = "url("+country['image']+")";
      }
      a.onclick = function () {
        console.log(elem);
        console.log(dial);
        console.log(hiddenField);
        selectPhoneCode(elem, dial, hiddenField)
      };
      opt.appendChild(a);
      elem.appendChild(opt);
      
  }
}

function initPhoneSelector(phoneCodeSelectId, initCountry, hiddenField) {
  var phone_code_field = document.getElementById(phoneCodeSelectId);
  var hidden_field = document.getElementById(hiddenField);
  console.log(hidden_field)

  addEventListener("phone-data-available",
      () => {
        addEventListener("phone-flags-available", () => {
          populatePhoneSelect(phone_code_field, hidden_field);
          if (initCountry != "") {
              selectPhoneCode(phone_code_field, initCountry, hidden_field);
          }
        }, false);
      },
  false);
}

</script>
  </head>

  <body class="white-bg">
      

    <%= render "nav" %>
    
    
    <%= yield %>
    
    <%= render 'footer' %>


    <!-- pop-ups -->
    <div class="veil" id="veil" data-bs-dismiss="toast" onclick="unveil('veil'); remove_toast('notice-toast');"></div>
    <% if notice != nil then %>
      <%= render 'notice_toast' %>
    <% end %>
    
  </body>
</html>
